*{
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
}
body{
    background-image: url(/images/sdscrrewrr.jpg);
}

.container{
    width: 100wh;
    height: auto;
    /* background-color: aqua; */
    display: flex;
}

.container .nav-left{
    box-shadow: 1px 1px 10px gray;
    border-radius: 30px;
    margin: 40px;
    width: 30%;
    height: 550px;
    /* background-color: blue; */
}

.nav-left-pic{
    width: 100%;
    height: 100%;   
}

 .nav-left-pic img{
    width: 100%;
    height: 100%;
    border-radius: 30px ;
}


.container .nav-center{
    box-shadow: 1px 1px 10px gray;
    border-radius: 30px;
    margin: 40px;
    width: 30%;
    height: 550px;
    /* background-color: rgb(81, 255, 0); */
}

.container .nav-right{
    box-shadow: 1px 1px 10px gray;
    border-radius: 30px;
    margin: 40px;
    width: 30%;
    height: 550px;
    /* background-color: rgb(255, 0, 119); */
}